# checkpoints
checkpoints/
50k_checkpoints/
best_checkpoints/

# data
miRaw_data/
TargetScan_dataset/
Degradome_dataset/
TarBase_dataset/
miR_degradome_ago_clip_pairing_data/
Manakov2022/
Hejret2023/
Klimentova2022/
siRNA_targets_data/
*.tsv.gz
*.csv.gz

# logs
output_logs/
evaluate_logs/
Performance/
optuna_logs/
*.log
*.err
*.pid

# database
optuna_database/
Non_canonical_sites/
Mimosa_dataset/
MiRTarBase_dataset/

#cache
scripts/__pycache__/

# images
plots/
*.png
*.svg

# training data
wandb/
results/
Pooling_Method_Binding_Accuracy.csv
Pooling_Method_Exact_match_rate.csv
Pooling_Method_F1_score.csv
Pooling_Method_Eval_loss.csv

#other
build_dataset_output.txt
dmiso_pairs.txt
span_metrics.txt
*.out
*.md
unused_data.tar.gz
HyenaDNA_scripts/
slurm_jobs/
